name: Deployment pipeline

on:
  push:
    branches:
      - master

jobs:
  deployment_pipeline:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        part: [frontend, backend] # runs both in frontend and backend directories
    env:
      TEST_MONGODB_URI: ${{ secrets.TEST_MONGODB_URI }}  # Use the secret for the test database URI
      SECRET: ${{ secrets.SECRET }} # Use the secret for the JWT secret
    steps:
      - uses: actions/checkout@v4 # get the code
      - uses: actions/setup-node@v4 # set up node
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
        working-directory: ${{ matrix.part }} # go to both directories
      - name: Check style
        run: npm run lint
        working-directory: ${{ matrix.part }}
      - name: test
        run: npm run test
        working-directory: ${{ matrix.part}}
